header {
  display: flex;
  align-items: center;
  height: 100px;
  background: linear-gradient(to right, white, var(--primary-color));
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0px 2px 4px var(--gray);
  padding: 0 2rem;
}